Adafruit-Blinka==8.5.0
adafruit-circuitpython-bme280==2.6.16
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-requests==1.12.8
adafruit-circuitpython-typing==1.8.1
Adafruit-PlatformDetect==3.30.0
Adafruit-PureIO==1.1.9
asgiref==3.5.2
Django==4.1.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.1
sqlparse==0.4.3
sysv-ipc==1.1.0
typing-extensions==4.3.0
apscheduler==3.9.1